<div class="width:100%">
    <div class="bg-dark text-white p-2">
        <div class="navbar-brand">Bizza Burger House</div>
    </div>
    <div class="m-1 ">
        <h2 class="text-center">Votre commande</h2>
        <table class="table table-bordered table-striped p-1">
            <thead>
                <tr>
                    <th>Nom</th>

                    <th>Quantité</th>
                    <th class="text-right">Prix</th>
                    <th class="text-right">Montant du produit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="cart.selections.length == 0">
                    <td colspan="4" class="text-xs-center">
                      Votre panier est vide
                    </td>
                </tr>
                <tr *ngFor="let sel of cart.selections">
                    <td>{{sel.productName}}</td>
                    <td>
                        <input type="number" min="1" class="form-control-sm" style="width:5em"
                            [(ngModel)]="sel.quantity" />
                    </td>
                    <td class="text-right"> {{sel.price }} CFA </td>
                    <td class="text-right"> {{(sel.quantity * sel.price)}} CFA </td>
                    <td> <button class="btn btn-sm btn-danger" (click)="cart.updateQuantity(sel.productId, 0)">Удалить
                      produit </button> </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Le montant total:</td>
                    <td class="text-right">
                        {{cart.totalPrice}} CFA
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="text-center">
    <button class="btn btn-primary m-1" routerLink="/list">Continuer la commande</button>
    <button class="btn btn-secondary m-1" routerLink="/checkout/step1">
      Commander
    </button>
</div>
